{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-use-before-define": "off",
    "react/require-default-props": "off",
    "react/function-component-definition": "off",
    "no-restricted-exports": "off",
    "arrow-body-style": "off",
    "@typescript-eslint/comma-dangle": "off",
  }
}
